<mat-toolbar class="nav">
  <a [class.hidden]="hideLogo" mat-button [routerLink]="['/']"><img src="assets/gawrlogo.png" class="logo" (click)="navigating()"></a>

  <div>
    <div class="search-bar">
      <input type="search" [formControl]="searchContent" (focus)="focus()" (focusout)="unfocus()" autocomplete="off" required>
      <button class="search-btn" type="submit" (click)="search()">
        <span>Search</span>
      </button>
    </div>
  </div>

  <div [class.hidden]="hideBtns">
    <div *ngIf="username; else login">
      <a mat-button [routerLink]="['my-profile']" (click)="navigating()"><fa-icon [icon]="faUser"></fa-icon></a>
      <a mat-button [routerLink]="['my-cart']" (click)="navigating()"><fa-icon [icon]="faCartShopping"></fa-icon></a>
    </div>
    <ng-template #login>
      <a mat-button [routerLink]="['login']" (click)="navigating()" class="login-a">Login</a>
    </ng-template>
  </div>
</mat-toolbar>
