<mat-toolbar class="nav">
  <a mat-button [routerLink]="['home']"><img src="assets/gawrlogo.png" class="logo" (click)="navigating()"></a>

  <div>
    <form id="formSearchBar" (submit)="search()" class="search-bar">
      <input type="search" name="search" id="searchBar" pattern=".*\S.*" required [(ngModel)]="searchContent" (focus)="focus()" (focusout)="unfocus()">
      <button class="search-btn" type="submit">
        <span>Search</span>
      </button>
    </form>
  </div>

  <div [class.hidden]="hideBtns">
    <div *ngIf="username; else login">
      <a mat-button [routerLink]="['my-profile']" (click)="navigating()">{{ username }}</a>
      <a mat-button [routerLink]="['my-cart']" (click)="navigating()"><fa-icon [icon]="faCartShopping"></fa-icon></a>
    </div>
    <ng-template #login>
      <a mat-button [routerLink]="['login']" (click)="navigating()">Login</a>
    </ng-template>
  </div>
</mat-toolbar>
