/* .img-post-small {
  border: 1px solid black;
  width: 20%;
  margin: 0.6em;
} */
*{
  font-size: 103%;
}

.title{
  font-size: 1.1em;
  line-height: 22.17px;
  height: 44.34px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 1.1em;
}

label, .btn, .page-link, .title{
  font-family: 'Roboto';
  font-weight: 500;
}
