<app-nav></app-nav>
<img class="img-post-big" [src]="post.image">
<h1 class="title-post"> {{ post.title }} </h1>
<h2> ${{ post.product.price }}.00 </h2>
<p> Seller: <a [routerLink]="'/user/' + post.seller._id"> {{ post.seller.username }} </a></p>
<div> {{ post.description }} </div>

<button class="buy-btn" (click)="addToCart()"> Add to cart </button>
<input type="number" [(ngModel)]="quantity" min="1" max="100" required>

<br/><br/><br/>

<h1> Comments </h1>

<div *ngFor="let comment of post.comments">
  <p> By: <a [routerLink]="'/user/' + comment.user._id"> {{ comment.user.username }} </a></p>
  <p> {{ comment.body }} </p>
  <br/>
</div>
