div{
  display: flex;
  flex-flow: column;
}

p{
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

img{
  width: 520px;
  margin: auto;
}

@media screen and (width < 550px){
  p{
    font-size: 1.6em;
  }
  img{
    width: 100vw;
  }
}
