.full-width{
  width: 100%;
}

.row{
  margin-bottom: 15px;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 45px 120px;
}

.thumbnail{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.thumbnail:hover{
  cursor: pointer;
  -webkit-filter: brightness(60%);
}

.single-label{
  padding-top: 30px;
  font-size: 1.6em;
}

.flex-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spinner{
  margin-left: 15px;
}

.delete-div{
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-danger{
  font-size: 1.7em;
  float: right;
  margin: 6px;
  color: white !important;
}

.btn-danger:hover{
  background-color: rgb(164, 37, 37);
}

@media screen and (width < 800px) {
  .form-container{
    margin: 40px 30px;
  }
}

@media screen and (width < 500px) {
  .thumbnail{
    width: 240px;
    height: 240px;
  }
  mat-card{
    width: 100vw;
  }
  .form-container{
    margin: 45px 0px;
  }
}
