.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 50px 100px;
}

.thumbnail{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.thumbnail:hover{
  cursor: pointer;
  -webkit-filter: brightness(60%);
}

.single-label{
  padding-top: 30px;
  font-size: 1.6em;
}
