<div class="wrapper">
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="dot-div"><span class="dot"></span></div>
  <div class="home-nav">
    <a mat-button [routerLink]="['timeline']">Products</a>
    <a mat-button href="#">Users</a>
    <a mat-button href="#">Sales</a>
    <a mat-button href="#">Smartphones</a>
    <a mat-button href="#">Weeb merch</a>
  </div>
  <h1 class="title"> Gawr Marketplace </h1>

</div>

