.topnav {
  overflow: hidden;
  background-color: #4e4e4e;
}

.topnav a {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #191919;
}

.topnav .search-container {
  text-align: center;
}

.topnav input[type=text] {
  width: 300px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 800px) {
  img {
      width: 200px;
  }
}

@media screen and (max-width: 420px) {
  img {
      width: 160px;
  }
  .topnav a {
    padding: 14px 12px;
    font-size: 16px;
  }
}

@media screen and (max-width: 300px) {
  .topnav .search-container {
      float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
  }
  .topnav input[type=text] {
      border: 1px solid #ccc;
  }
}
