.title{
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 25px;
}

.my-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: auto;
}

.edit{
  color: rgb(30, 78, 143);
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  width: 170px;
  margin-left: 15px;
  margin-top: 12px;
  bottom: 0;
  left: 0;
}

.card {
  width: 80vw;
  max-width: 80vw;
  min-height: 275px;
  margin-top: 20px;
}

mat-card-header{
  padding: 10px 10px 0px 10px;
}

.header-image{
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 5%;
  flex-shrink: 0;
  object-fit: cover;
  border: 2px solid black;
  margin-right: 10px;
}

.username{
  font-size: 2.8em;
  font-family: 'Roboto', sans-serif;
}

.role, p{
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.p-cont{
  display: flex;
  gap: 10px
}

.flag-svg{
  width: 25px;
  height: 25px;
}

.gender-img{
  width: 21px;
  height: 21px;
}

.age{
  font-weight: 500;
  margin-top: 3px;
}

.post-card {
  margin-top: 15px;
  max-width: 20vw;
  height: fit-content;
  overflow: auto;
  cursor: pointer;
}

.post-img{
  height: 84%;
  object-fit: cover;
}

.posts--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.contact-card{
  padding: 10px;
  font-size: 1.2em;
}

@media screen and (1000px >= width >= 641px){
  .post-card {
    max-width: 28vw;
  }
  .posts--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width <= 800px){
  .header-image{
    height: 140px;
    width: 140px;
  }
  .edit{
    font-size: 1.6em;
    width: 120px;
    margin-left: 10px;
  }
  .post-img{
    height: 80%;
    object-fit: cover;
  }
  .card{
    width: 95vw;
    max-width: 95vw;
    min-height: 220px;
  }
}

@media screen and (width <= 640px){
  .username{
    font-size: 2.2em;
  }
  .role, p{
    font-size: 1.4em;
  }
  .post-card{
    max-width: 80vw;
  }
  .posts--grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .contact-card{
    padding: 5px;
    font-size: 1.1em;
  }
}
