.title{
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 25px;
}

.container{
  display: flex;
  width: 100vw;
  justify-content: center;
}

.edit-btn{
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card {
  width: 80vw;
  max-width: 80vw;
  min-height: 240px;
  max-height: fit-content;
  margin-top: 20px;
  padding: 16px 0px;
}

.header-image{
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 5%;
  flex-shrink: 0;
  object-fit: cover;
  border: 2px solid black;
  margin-right: 10px;
}

.username{
  font-size: 2.8em;
  font-family: 'Roboto', sans-serif;
}

.role, p{
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.p-cont{
  display: flex;
  width: fit-content;
  flex-direction: row;
  gap: 10px
}

/* .p-cont span{
  margin-right: 10px;
} */

.post-card {
  margin-top: 15px;
  max-width: 20vw;
  height: fit-content;
  overflow: auto;
  cursor: pointer;
}

.post-img{
  height: 84%;
  object-fit: cover;
}

.posts--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media screen and (1000px >= width >= 641px){
  .post-card {
    max-width: 28vw;
  }
  .posts--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width <= 800px){
  .header-image{
    height: 140px;
    width: 140px;
  }
  .post-img{
    height: 80%;
    object-fit: cover;
  }
  .card{
    width: 90vw;
    max-width: 90vw;
    height: auto;
    overflow: auto;
  }
}

@media screen and (width <= 640px){
  .username{
    font-size: 2.2em;
  }
  .role, p{
    font-size: 1.4em;
  }
  .p-cont{
    display: block;
  }
  .post-card{
    max-width: 80vw;
  }
  .posts--grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
